.github-repo-container .form-control:focus {
    border:1px solid #00857a;
    box-shadow: none
}
.github-repo-container .dropdown-item.active,.github-repo-container .dropdown-item:active{
    background-color: #00857a;
}
.github-title{
    color: #00857a;
}
.github-repository-title{
    color: grey;
}